/* 2. Modal */
/* Lớp modal chiêm full màn hình, chặn mọi thao tác*/
.modal {
    /* Đặc tính */
    /* display: none; */
    display: flex;
    position: fixed;
    /* Tạo phần tử có vị trí cố định */

    z-index: 100;
     /* set lớn hơn của #nav>li */
    /* z-index default = 0 */
    /* Sử dụng để đẩy modal_body lên trên gần mắt người dùng */

    /* Vị trí */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* 4 chỉ số chiếm full màn hình */
}

/* Lớp phủ nhìn xuyên qua */
.modal_overlay {
    /* Đặc tính */
    position: absolute;
    /* Con kế thừa thuộc tính cha (.modal) */
    width: 100%;
    height: 100%;
    /* Chiều dài và rộng theo cha */

    /* Màu nền trong suốt */
    background: rgb(0, 0, 0, 0.3);
    /* Màu phủ trong suốt */
}

/* Xử lý modal_body*/
/* Hiệu ứng xuất hiện*/
@keyframes Growth {
    from {
        opacity: 0;
        /*Làm mờ*/
        transform: scale(0);
        /* To dần */
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Phần chính để chứa full nội dung */
.modal_body {
    /* Cấu trúc */
    background-color: var(--white-color);
    border-radius: var(--border-radius-big);
    padding: 30px;
    
    /* Vị trí */
    margin: auto;
    /* Căn giữa nội dung toàn trang*/
    
    /* Đặc tính */
    position: relative;
    /* Không ảnh hưởng kích thước phần tử khác, cũng giúp modal_body nổi lên trên modal_overlay*/
    
    /* Hiệu ứng */
    animation: Growth ease-in 0.22s;
    /*Hiệu ứng ảnh to dần  */
}

/* Gần như modal */
.infor_form {
    width: 730px;
    display: block;
    z-index: 3;
}
/* Thẻ div chứa nút X */
.modal_close { 
    text-align: right;
}
.modal_close>i{
    cursor: pointer;
}

/* Form container + form chứa ảnh */
.infor_form_container_img{
    display: flex;
    /* 2 phần container và img được set nằm ngang */
}

/* XỬ lý khung hình ảnh bên phải form */
.infor_form_img{
    /* Cấu trúc */
    width: calc(100% - 45% - 40px);
    /* width infor_form - with container - margin-left */
    background-color: var(--button-hover-color);
    border-radius: var(--border-radius-big);
    
    /* Vị trí */
    margin-left: 40px;
    /* Tách biệt với container */

    /* Đặc tính */
    display: grid;
    /* Tách phần ảnh và nội dung chữ */
    justify-content: center;
    /* Căn giữa nội dung chữ theo chiều dọc */
}

/* Xử lý ảnh chèn vào */
.infor_form_img_PNG{
    width: 100%;
}
/* Xử lý text */
.infor_form_img>h1{
    text-align: center;
    height: 15px;
}
.infor_form_img>h3{
    text-align: center;
}

/* Container = Title + GroupInputs + button */
.infor_container{
    width: 45%;
}

/* Title information */
.infor_container_title{
    display: flex;
    margin-bottom: var(--border-radius-big);
}
.infor_container_title>h1{
    font-weight: 700;
}
/* Nhóm các input nhập vào */
.group_input {
    height: 90px;
    box-sizing: border-box;
}
/* Tiều đề của input nhập vào */
.modal_input_title_text {
    font-size: 1.3rem;
    height: 20px;
    margin-bottom: 5px;
}

.input_text_error{
    font-style: italic;
    font-size: 0.8rem;
    color: var(--error-text-color);
}

.input_text_gender{
    width: 50%;
    display: flex;
    overflow: hidden;
}

.infor_container_confirm {
    margin-top: 20px;
}

/* .input_title_text_gender:hover .subnav {
    display: grid;
} */

.infor_container_confirm_btn{
    margin-top: 15px;
    width: 100%;
}