/* Xử lý phần header */
#header {
    /* Vị trí */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* Cấu trúc */
    height: var(--header-height);
    box-shadow: 0px 0px 40px 10px var(--box-shadow-color);
    background-color: var(--black-color);

    /* Đặc tính */
    display: flex;
    /* Set các con nằm ngàng */
    position: relative;
    /* Xóa xong cái này ảo ma vãi */
    /* Khi này chặn container ăn vào header */

    justify-content: space-between;
    /* Đăỷ xa 2 phần ra 2 hướng */
    
}

/* Nửa bên trái header */
#nav {
    /* Đặc tính */
    display: flex;
    /* Set các con nằm ngang */
    position: relative;
    /* Chiếm không gian riêng biệt, không ảnh hưởng các phần tử khác*/
    /* Ở đây hình như có hay không cũng được:)) */
}

/* Các lựa chọn trên header */
#nav>li,
.header_logo_user li {
    position: relative;
    /* Chiếm không gian riêng biệt, không ảnh hưởng các phần tử khác*/
    /* Để dùng kết hợp với subnav */
}

/* Logo chính và logo user */
.header_logo {
    /* Cấu trúc */
    width: var(--header-height);
    height: var(--header-height);

    /* Chữ*/
    color: var(--white-color);
    font-size: 30px;

    /* Đặc tính */
    /* 3 dòng căn giữa logo*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Các lựa chọn ở bên trái header - nav */
#nav>li{
    /* Chữ */
    line-height: var(--header-height);
    /* Content chữ sẽ chiếm cả thẻ chứa nó (được căn giữa)*/
    font-weight: bold;
    color: white;
    
    /* Cấu trúc */
    width: 180px;
    text-align: center;

    /* Đặc tính */
    display: block;
    /* Bỏ dấu đầu câu mặc định của li */
    /* Mỗi 1 li là 1 khối riêng biệt */
}

/* Khi nav>li hover thì subnav */
#nav>li:hover .subnav, .header_logo:hover .subnav{
    display: grid;
    z-index: 10;
    /* Tách thành 2 dòng lựa chọn */
}

/* Hover vào các lựa chọn trên header */
#nav>li:hover,
.header_logo_user:hover {
    /* Chữ */
    color: var(--nav-hover-color);

    /* Đặc tính */
    cursor: pointer;
}

#nav>li:hover .nav_li_content,
.header_logo_user:hover .nav_li_content{
    /* Hiệu ứng */
    transform: translateY(-2px);
    transition: all ease-in-out 0.2s;
    /* Hiệu ứng cho chữ đi lên và subnav không đi theo*/
}

/* Xử lý subnav lựa chọn */
/* Các subnav Có thể tái sử dụng lại */
/* .subnav {
    Đã viết trong base.css
}

.subnav li {
    Đã viết trong base.css
} */

#nav .subnav li, .header_logo_user .subnav li{
    /* 1 nửa đã viết trong base */
    font-weight: bold;
}

/* Xử lý phần logo*/
/* .header_logo_user {
    Đã xử lý bên trên
} */

/* .header_logo_user:hover {
     đã xử lý bên trên 
} */

.header_logo_user .subnav {
    /* Căn vị trí bên phải */
    right: 0;
}

.header_logo_user .subnav li{
    /* Đã viết 1 nửa trên cung với #nav .subnav li*/
    text-align: right;
    line-height: var(--header-height);
}

.container{
    background: var(--linear-main-background);
    height: calc(100vh - var(--header-height));

    display: flex;
    align-items: center;
    justify-content: center;
}

.container_main{
    width: 95%;
    height: 90%;

    display: flex;
    position: relative;
}

.notification{
    position: relative;
    width: 20%;
    height: 20%;
    background-color: var(--white-color);
    border-radius: var(--border-radius-big);
    margin: auto;
    padding: 10px;
    font-size: 1.5rem;

    animation: Growth ease-in 0.22s;
}

.content_noti{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.notiQuestion i{
    position: absolute;
    color: blue;
    top: 12px;
    left: 10px
}






